<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.jqwidgetssample01" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>jqwidgetsSample01</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="matteo.agostoni@nimacad.it" href="http://ready4web.eu">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
